sample/flow.json
[{"id":"4d014902.d7a3e8","type":"tab","label":"Transit Time","disabled":false,"info":""},{"id":"66520852.52ce08","type":"inject","z":"4d014902.d7a3e8","name":"Inject","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["d282e9c.c615118"]]},{"id":"864067fc.60d8e8","type":"http response","z":"4d014902.d7a3e8","name":"response","statusCode":"200","headers":{},"x":1040,"y":260,"wires":[]},{"id":"5711ef6e.b0cfe","type":"http in","z":"4d014902.d7a3e8","name":"[get] test","url":"/transittime","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["d282e9c.c615118"]]},{"id":"816abb3.8680848","type":"http in","z":"4d014902.d7a3e8","name":"[post] transittime","url":"/transittime","method":"post","upload":false,"swaggerDoc":"","x":340,"y":120,"wires":[["56d35214.519f3c"]]},{"id":"56d35214.519f3c","type":"change","z":"4d014902.d7a3e8","name":"","rules":[{"t":"set","p":"distance","pt":"msg","to":"payload.distance","tot":"msg"},{"t":"set","p":"config","pt":"msg","to":"payload.config","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["b29e9ec3.5b70c"]]},{"id":"b18d3bde.e04cd8","type":"comment","z":"4d014902.d7a3e8","name":"Curl Example","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":130,"y":220,"wires":[]},{"id":"94583ae6.77e918","type":"json","z":"4d014902.d7a3e8","name":"","property":"payload","action":"str","pretty":true,"x":710,"y":380,"wires":[["4020a4cc.ab4dcc"]]},{"id":"4020a4cc.ab4dcc","type":"function","z":"4d014902.d7a3e8","name":"Convert HTML","func":"msg.payload = msg.payload.replace(/\\n/g, \"<br />\");\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["91fa2d62.cde33"]]},{"id":"60f57769.ba1158","type":"change","z":"4d014902.d7a3e8","name":"","rules":[{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"},{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"rotate","pt":"msg","to":"payload.rotate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["b29e9ec3.5b70c"]]},{"id":"91fa2d62.cde33","type":"ui_toast","z":"4d014902.d7a3e8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1110,"y":380,"wires":[[]]},{"id":"8b6160f5.51235","type":"ui_template","z":"4d014902.d7a3e8","group":"82ffd269.7960c","name":"HTML","order":0,"width":"12","height":"10","format":"<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\">\n</script>\n<h1>Inputs</h1>\n<div class=\"container\" >\n <div class='element' id='div'>\n  Distance : <input type='text' placeholder='distance' id='distance' size=5 value=\"500\"><br><br>\n  Speed : <input type='text' placeholder='speed' id='speed' size=5 value=1.16><br><br>\n  Driving Time : <input type='text' placeholder='drivingTime' id='drivingTime' size=5 value=240><br><br>\n  Max Driving Time : <input type='text' placeholder='maxDrivingTime' id='maxDrivingTime' size=5 value=720><br><br>\n  Break Time : <input type='text' placeholder='breakTime' id='breakTime' size=3 value=30><br><br>\n  Rest Time : <input type='text' placeholder='restTime' id='restTime' size=5 value=480><br><br>\n </div>\n</div>\n<script>\n this.scope.action = function() {\n     return { distance: $(\"#distance\").val(), config: { speed: $(\"#speed\").val(), drivingTime: $(\"#drivingTime\").val(), maxDrivingTime: $(\"#maxDrivingTime\").val(), breakTime: $(\"#breakTime\").val(), restTime: $(\"#restTime\").val() } }; \n }\n</script>\n<md-button ng-click=\"send({payload:action()})\">GO</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":560,"wires":[["60f57769.ba1158"]]},{"id":"2146fe78.9a3612","type":"comment","z":"4d014902.d7a3e8","name":"UI TransitTime","info":"","x":140,"y":500,"wires":[]},{"id":"f25f0eb0.ff2b4","type":"comment","z":"4d014902.d7a3e8","name":"Curl Transit Time","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":340,"y":60,"wires":[]},{"id":"b29e9ec3.5b70c","type":"transitTime","z":"4d014902.d7a3e8","name":"","x":610,"y":260,"wires":[["864067fc.60d8e8","94583ae6.77e918"]]},{"id":"d282e9c.c615118","type":"change","z":"4d014902.d7a3e8","name":"","rules":[{"t":"set","p":"payload.distance","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload.config","pt":"msg","to":"{\"speed\":1.16,\"drivingTime\":240,\"maxDrivingTime\":720,\"breakTime\":30,\"restTime\":480}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["b29e9ec3.5b70c"]]},{"id":"82ffd269.7960c","type":"ui_group","z":"","name":"Transit Time","tab":"7b40496a.022b68","disp":true,"width":"12","collapse":false},{"id":"7b40496a.022b68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
