sample/flow.json
[{"id":"225a0e49.219712","type":"tab","label":"Transit Time","disabled":false,"info":""},{"id":"5b81d7a3.854b58","type":"inject","z":"225a0e49.219712","name":"Inject","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["4a708e1a.db175"]]},{"id":"3e779576.7febea","type":"http response","z":"225a0e49.219712","name":"response","statusCode":"200","headers":{},"x":1040,"y":260,"wires":[]},{"id":"f2e39d2e.38f67","type":"http in","z":"225a0e49.219712","name":"[get] test","url":"/transittime","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["4a708e1a.db175"]]},{"id":"eb205bad.9e8428","type":"http in","z":"225a0e49.219712","name":"[post] transittime","url":"/transittime","method":"post","upload":false,"swaggerDoc":"","x":340,"y":120,"wires":[["10555e69.d3e672"]]},{"id":"10555e69.d3e672","type":"change","z":"225a0e49.219712","name":"","rules":[{"t":"set","p":"distance","pt":"msg","to":"payload.distance","tot":"msg"},{"t":"set","p":"config","pt":"msg","to":"payload.config","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["1b5d85c2.4e7caa"]]},{"id":"8f9642ea.36dee","type":"comment","z":"225a0e49.219712","name":"Curl Example","info":"curl -X POST http://localhost:1880/binpacking -H 'Content-type: application/json' -d '{ \"packages\": [ { \"name\": \"bh\", \"width\": 50, \"height\": 60, \"length\": 70, \"weight\": 28, \"quantity\": 3 } ], \"bins\": [ { \"name\": \"break\", \"width\": 100, \"height\": 100, \"length\": 120, \"weight\": 400 } ] }'","x":130,"y":220,"wires":[]},{"id":"c1b7ecbd.27c8","type":"json","z":"225a0e49.219712","name":"","property":"payload","action":"str","pretty":true,"x":710,"y":380,"wires":[["3927acee.d32384"]]},{"id":"3927acee.d32384","type":"function","z":"225a0e49.219712","name":"Convert HTML","func":"msg.payload = msg.payload.replace(/\\n/g, \"<br />\");\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":380,"wires":[["5f1bfdc2.387bd4"]]},{"id":"27a5ff0e.c7855","type":"change","z":"225a0e49.219712","name":"","rules":[{"t":"set","p":"bins","pt":"msg","to":"payload.bins","tot":"msg"},{"t":"set","p":"packages","pt":"msg","to":"payload.packages","tot":"msg"},{"t":"set","p":"rotate","pt":"msg","to":"payload.rotate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["1b5d85c2.4e7caa"]]},{"id":"5f1bfdc2.387bd4","type":"ui_toast","z":"225a0e49.219712","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1110,"y":380,"wires":[[]]},{"id":"52773e56.3f8a6","type":"ui_template","z":"225a0e49.219712","group":"cff880e1.1a167","name":"HTML","order":0,"width":"12","height":"10","format":"<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js\">\n</script>\n<h1>Inputs</h1>\n<div class=\"container\" >\n <div class='element' id='div'>\n  Distance : <input type='text' placeholder='distance' id='distance' size=5 value=500><br><br>\n  Speed : <input type='text' placeholder='speed' id='speed' size=5 value=60><br><br>\n  Driving Time : <input type='text' placeholder='drivingTime' id='drivingTime' size=5 value=240><br><br>\n  Max Driving Time : <input type='text' placeholder='maxDrivingTime' id='maxDrivingTime' size=5 value=720><br><br>\n  Break Time : <input type='text' placeholder='breakTime' id='breakTime' size=3 value=30><br><br>\n  Rest Time : <input type='text' placeholder='restTime' id='restTime' size=5 value=480><br><br>\n </div>\n</div>\n<script>\n this.scope.action = function() {\n     return { distance: $(\"#distance\").val(), config: { speed: $(\"#speed\").val(), drivingTime: $(\"#drivingTime\").val(), maxDrivingTime: $(\"#maxDrivingTime\").val(), breakTime: $(\"#breakTime\").val(), restTime: $(\"#restTime\").val() } }; \n }\n</script>\n<md-button ng-click=\"send({payload:action()})\">GO</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":170,"y":560,"wires":[["27a5ff0e.c7855"]]},{"id":"5c11163a.131d28","type":"comment","z":"225a0e49.219712","name":"UI TransitTime","info":"","x":140,"y":500,"wires":[]},{"id":"191090e7.6a427f","type":"comment","z":"225a0e49.219712","name":"Curl Transit Time","info":"curl -X POST http://localhost:1880/transittime -H 'Content-type: application/json' -d '{ \"distance\": 500, \"config\": {\"speed\":60,\"drivingTime\":240,\"maxDrivingTime\":720,\"breakTime\":30,\"restTime\":480}}'","x":340,"y":60,"wires":[]},{"id":"1b5d85c2.4e7caa","type":"transitTime","z":"225a0e49.219712","name":"","x":610,"y":260,"wires":[["3e779576.7febea","c1b7ecbd.27c8"]]},{"id":"4a708e1a.db175","type":"change","z":"225a0e49.219712","name":"","rules":[{"t":"set","p":"payload.distance","pt":"msg","to":"500","tot":"num"},{"t":"set","p":"payload.config","pt":"msg","to":"{\"speed\":60,\"drivingTime\":240,\"maxDrivingTime\":720,\"breakTime\":30,\"restTime\":480}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["1b5d85c2.4e7caa"]]},{"id":"cff880e1.1a167","type":"ui_group","z":"","name":"Default","tab":"54f40bc2.1dca74","disp":true,"width":"12","collapse":false},{"id":"54f40bc2.1dca74","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]